<section class="blog-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="blog-post single-post">
          <div class="comments">
            <h5>Thêm bài thi :</h5>
            <div class="row">
              <div class="col-md-6">
                <h5>Tên bài thi:</h5>
                <input type="text" placeholder="Bài thi" [(ngModel)]="quiz.quizname">
              </div>
              <div class="col-md-6">
                <h5>Mô tả:</h5>
                <textarea [(ngModel)]="quiz.description" class="form-control" placeholder="Nhập mô tả"></textarea>
              </div>
              <div class="col-md-6">
                <h5> Danh mục :</h5>
                <select
                  [(ngModel)]="assignedCategory.id"
                  name="category"
                  class="form-control m-input">
                  <option *ngFor="let category of categories;" [value]="category.id"
                          [selected]="category.id === 1">{{category.name}}</option>
                </select>
              </div>
              <br>
              <h5>Tìm Kiếm Câu Hỏi</h5>
              <div class="row">
                <div class="col-md-12">
                  <div class="input-group">
                    <input [(ngModel)]="questionSearch.code" type="search" class="form-control form-control"
                           placeholder="Nhập mã câu hỏi" (keydown.enter)="searchQuestion()">
                    <div class="input-group-append">
                      <button class="site-btn"  (click)="searchQuestion()">
                        Tìm
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <h5 class="main-menu">Danh sách câu hỏi được tìm thấy:</h5>
                <div>
                  <ul class="main-menu">
                    <li><a>#</a></li>
                    <li><a>Mã câu hỏi</a></li>
                    <li><a>Loại câu hỏi</a></li>
                    <li><a>Cấp độ câu hỏi</a></li>
                    <li><a>Ngày tạo</a></li>
                    <li><a>Ngày cập nhập</a></li>
                  </ul>
                </div>
                <tbody>
                <ul *ngFor="let question of searchPool" class="main-menu">
                  <li><a>{{question.id}}</a></li>
                  <li><a>{{question.code}}</a></li>
                  <li><a>{{question.type}}</a></li>
                  <li><a>{{question.level}}</a></li>
                  <li><a>12-12-2020</a></li>
                  <li><a>12-12-2020</a></li>
<!--                  <li><a>-->
<!--                    <button class="site-btn"  (click)="addSearchQuestion(question.code)">-->
<!--                      add-->
<!--                    </button>-->
<!--                  </a></li>-->
                </ul>
                </tbody>
              </div>
              <br>
              <div class="col-md-6">
                <div id="button-bar-container" class="col-md-12">
                  <div id="button-bar" class="col-md-12">
                    <ul>
                      <li>
                        <button class="site-btn" (click)="create()">Thêm bài thi</button>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

