<h2 style="color: orangered; text-align: center" class="col col-12">Create</h2>
<a [routerLink]="['/']" class="btn btn-outline-info"  class="btn btn-outline-info">Back</a>
<form [formGroup]="newForm" (ngSubmit)="createNewCustomer()">
  <table class="table table-light">
    <tr>
      <td>Tác Sách:</td>
      <td><input type="text" formControlName="lastName" id="lastName"></td>
    </tr>
    <tr>
      <td>Tên Gỉa:</td>
      <td><input type="text" formControlName="firstName" id="firstName"></td>
    </tr>
    <tr>
      <td>Mô Tả:</td>
      <td><input type="text" formControlName="description" id="description"></td>
    </tr>
    <tr><button class="btn btn-danger"type="submit">Create</button></tr>
  </table>
</form>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


