<header class="header-section">
  <a href="index.html" class="site-logo">
    <!--    <img src="img/logo.png" alt="logo">-->
    <img src="../../assets/img/logo.png" height="71" width="146" alt="logo"/>
  </a>
  <ul class="main-menu">
    <li><a href="index.html">Home</a></li>
    <li><a href="characters.html">Characters</a></li>
    <li><a href="game.html">Games</a></li>
    <li><a href="reviews.html">Reviews</a></li>
    <li><a href="news.html">News</a></li>
    <li><a href="single-post.html">Page</a></li>
    <li>  <a (click)="logout()" class="btn btn-outline-danger m-1">Logout</a></li>
  </ul>
  <div class="header-add">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSt3KT58DOE36A_ajCjsL9RTbJVHsM4pM5vbA&usqp=CAU" alt="">
  </div>
</header>
<section class="page-top-section set-bg" data-setbg="../../assets/img/1.jpg">
  <img src="../../assets/img/header-bg/1.jpg" height="423" width="1920"/>
</section>



